[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
prospector = "*"
pre-commit = "*"
coverage = "*"
ipython = "*"

[packages]
python-dotenv = "*"
recordlinkage = "*"
google-cloud-bigquery = "*"
pandas = "*"
nameparser = "*"
apache-beam = {extras = ["gcp"], version = "*"}
google-cloud-bigquery-datatransfer = "*"
click = "*"

[requires]
python_version = "3.7"
