[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
prospector = "*"
pre-commit = "*"
coverage = "*"
ipython = "*"
faker = "*"
factory-boy = "*"
pylint-django = "*"
pandas = "*"
jupyter = "*"

[packages]
Django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
whitenoise = "*"
gunicorn = "*"
pandas-gbq = "*"
nameparser = "*"
tqdm = {editable = true,git = "https://github.com/tqdm/tqdm.git",ref = "master"}
dj-database-url = "*"

[requires]
python_version = "3.7"
